.barra{
    display: flex;
    justify-content:flex-end;
    align-items: center;
    gap: 20px;
    padding:1.0em 4.5em 0.5em 0.5em;
    border-top: 1px solid rgb(196, 180, 160);
    color: #104c42;
}
section h1{
    width: 500px;
    height: 500px;
    display: grid;
    grid-template-columns:250px 190px 275px 300px 250px;
    grid-template-rows:70px 100px 100px 100px 100px ;
    grid-area: auto;
    justify-items: center;
    align-items: center;
    
}
.i{
    justify-self:flex-start;
grid-column:1/2 ;
grid-row: 2/3;
font-size:120px;
justify-content: space-around;
}
.u1{
justify-self: center;
grid-column:1/5 ;
grid-row: 2/3;
font-size:70px;
justify-content: space-around;
}
.u2{
    justify-self: flex-start;
grid-column:2/4 ;
grid-row:3/4 ;
font-size:70px;
justify-content: space-around;

}
.u22{
    justify-self: flex-end;
    align-items: center;
    grid-column: 3/5;
    grid-row: 3/4;
    font-size:90px;
    justify-content:space-between;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}
.u3{
    justify-self: flex-end;
align-items: center;
grid-column:2/5;
grid-row:4/5 ;
font-size:90px;
justify-content: space-around;
font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.u4{
justify-self: first baseline;
    grid-column: 3/5;
grid-row: 5/6;
font-size:70px;
justify-content: space-around;
}
main section{
background-image:url(img/fondopilares.jpg);
background-repeat: no-repeat;
background-size: cover;
}
.pie{
    display: flex;
    justify-content:center;
    color: rgb(159,144,68);
}
.prime{
    text-align: center;
    
}
.secu{
    text-align: center;
}
h1{
    color: aliceblue;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}